<template>
  test
  <nav class="navbar main-nav navbar-expand-lg" role="navigation">

    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="../../images/logo.svg" alt="Logo">
        <h3 class="text-center">NFT Categories</h3>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col-sm-1"></div>
          <ul class="nav nav-pills nav-fill category-list col-sm-6">
            <li repeat.for="l of levels" class="nav-item">
              <a class="nav-link ${level === l.level ? 'active' : ''}" route-href="route: categories; params.bind: { level:l.level }" title="Level ${l.level} categories">
                <h4>Level ${l.level}</h4>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <div class="text-right">
            <a class="navbar-brand" route-href="route: add-category">
              <i class="fa fa-plus"></i>
              <span>Add category</span>
            </a>
          </div>
        </div>
    </div>
  </nav>
</template>
