<template>  
  <nav class="navbar main-nav navbar-expand-lg" role="navigation">

    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="../../images/logo.svg" alt="Logo">
        <h3 class="text-center">NFT Categories</h3>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-sm-12" id="navbarSupportedContent">        
        <ul class="nav nav-pills nav-fill category-list col-sm-4">
          <li repeat.for="l of levels" class="nav-item">
            <a class="nav-link btn btn-lg" route-href="route: categories; params.bind: { level:l.level }" title="Level ${l.level} categories">
              <span>Level ${l.level}</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav col-sm-6">
          <li class="nav-item" repeat.for="row of router.navigation">
            <a class="nav-link" href.bind="row.href"><i if.bind="row.title == 'Add category' || row.title == 'Add proposal'" class="fa fa-plus"></i> ${row.title & t}</a>
          </li>

          <!--<li class="nav-item active" if.bind="!loggedIn">
            <a class="btn nav-link" click.delegate="signin()">${'Sign In' & t}</a>
          </li>
          <li else class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ${state.account.name}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="javascript:void(0);" click.delegate="logout()">${'Logout' & t}</a>
            </div>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</template>
